<div data-animation="fadeInUp-fadeOutDown" class="col-md-6 col-md-offset-1 animated fadeInUp"  >
  <h1> My Blog </h1>

  <div class="posts-wrapper" data-behavior="endless-scroll" data-animation="fadeInUp-fadeOutDown">
      <%= render @posts %>
    </div>
</div>