.hero {
  padding-top: 45px;
  padding-bottom: 35px;
}
.hero-title {
  color: rgba(0,0,0,0.8);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  letter-spacing: -1.5px;
}
.hero-avatar{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: 2px 5px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    position: relative;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.hero-description{
    border: none;
    outline: none;
    line-height: 24px
}